body, html {
    /*background:url("./Img/gris2.jpg");*/
    background-color: gray !important;
    /*background-color: rgb(62, 61, 61);*/
    width: 100%;
    height:100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#cintillo {
    background-color: #282828;
    height: 150px;
    max-width: 100%;
    line-height: 60px;
    border: ridge 1px #282828;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

#cabecera {
    max-width: 900px;
    height: 6%;
    /*border: ridge 1px gray;*/
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 10px;
}

#cintillo_contenido {
    max-width: 900px;
    height: 100%;
    /*border: ridge 1px gray;*/
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    color: #FFFFFF;
}

#completo {
    height: 900px;
    max-width: 100%;
    background-color: #d2d2d2 !important;
    border:ridge 1px #d2d2d2;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

#footer {
    background-color: gray;
    height: 150px;
    max-width: 100%;
    border: ridge 1px gray;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

#cuerpo {
    max-width: 900px;
    height: 93%;
    /*border: ridge 1px gray;*/
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    overflow: auto;
}

#boton {
    width: 150px;
    margin-left: 15px;
}

#boton_crear_cuenta {
    width: 150px;
    margin-top: -15px !important;
}

#boton_cambiar_contrasena {
    width: 150px;
    margin-top: -15px !important;
}

#boton_logout {
    width: 150px;
    margin-top: 11px !important;
}

#titulo_cintillo {
    text-align: right;
    margin-top: -105px !important;
    /*border: ridge 1px;*/
    width: 600;
    height: 100px;
    float: right;
}

#formulario {
}

table#tabla_registro {
    text-align: right;
}

table#tabla_registro td {
    padding: 10px !important;
}

table#tabla_cambio_contrasena td {
    padding: 10px !important;
}

table#tabla_login td {
    padding: 10px !important;
}
    

#ruta_title {
    color: green;
}

table#tabla_consulta {
    text-align: right;
}

table#tabla_consulta td {
    padding: 10px !important;
}

#user_authenticated {
    color: lime !important;
    margin-left: 0px;
    text-align: left !important;
    margin-top: -20px !important;
}

#not_user_authenticated {
    color: orange !important;
    margin-left: 0px;
    text-align: left !important;
    margin-top: -20px !important;
}

#texto_footer {
    color: black;
}