body, html {
    /*background:url("./Img/gris2.jpg");*/
    background-color: green !important;
}
#completo {
    height: 600px;
    /*width:60%;*/
    width:600px;
    background-color: #d2d2d2 !important;
    border-radius: 5px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: ridge 1px;
}

#cuerpo {
    background-color: #FFFFFF;
    height: 97%;
    width:97%;
    border-radius: 5px;
    border: ridge 1px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#form_login {
    border: 1px solid red;
    height: 45%;
    width:97%;
}

#boton {
    width: 150px;
    margin-left: 15px;
}

#boton_logout {
    width: 150px;
}

#botonera {
    width: 99%;
}

#formulario {
}

table#tabla_registro {
    text-align: right;
}

table#tabla_registro td {
    padding: 10px !important;
}

table#tabla_cambio_contrasena td {
    padding: 10px !important;
}

table#tabla_login td {
    padding: 10px !important;
}
    

#ruta_title {
    color: green;
}

table#tabla_consulta {
    text-align: right;
}

table#tabla_consulta td {
    padding: 10px !important;
}

#user_authenticated {
    color: lime !important;
    margin-left: 20px;
}

#not_user_authenticated {
    color: orange !important;
    margin-left: 20px;
}