<html>
    <head>
        <title>
       	    {% block titulo %}Base{% endblock %}
        </title>
	    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'login/css/style.css' %}" />
	    <!--link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" /-->
        <link rel="stylesheet" type="text/css" href="{% static 'login/css/normalize.css' %}" />
	    <script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
        <script src="{% static 'login/js/prefixfree.min.js' %}" type="text/javascript"></script>
    </head>
<body>
{% block cuerpo %}
{% endblock %}
</body>
</html>