{% extends "registro/base.html" %}

{% block titulo %}Registro del Congreso{% endblock %}

{% block cintillo %}
<h3>Cintillo</h3>
{% endblock %}

{% block cuerpo %}
<h1>Registros</h1>
<table border="1px" cellpadding="2px" cellspacing="2px">
	<tr>
		<td><b>N</b></td>
		<td><b>Nombre</b></td>
		<td><b>Cedula</b></td>
		<td><b>Editar</b></td>
		<td><b>borrar</b></td>
	</tr>
	{% for persona in object_list %}
	<tr>
		<td>{{ persona.id }}</td>
		<td>{{ persona.nombre }}</td>
		<td>{{ persona.cedula }}</td>
		<td><a href="{% url 'registro:editar' persona.id %}">editar</a></td>
		<td><a href="{% url 'registro:borrar' persona.id %}">borrar</a></td>
    </li>
	</tr>
	{% endfor %}
</table>
{% endblock %}




