{% extends "registro/base.html" %}

{% block titulo %}Registro del Congreso{% endblock %}

{% block cuerpo %}
<div align="center">
	<h1>Registros</h1>
	<br />
	<table id="tabla_consulta_asistentes" border="1px" cellpadding="10px" cellspacing="10px">
		<tr>
			<th><b>N</b></th>
			<th><b>Nombre</b></th>
			<th><b>Apellido</b></th>
			<th><b>Cedula</b></th>
			<th><b>Telefono</b></th>
			<th><b>Ocupacion</b></th>
			<th><b>Editar</b></th>
			<th><b>Borrar</b></th>
		</tr>
		{% for persona in object_list %}
		<tr>
			<td>{{ persona.id }}</td>
			<td>{{ persona.nombre }}</td>
			<td>{{ persona.apellido }}</td>
			<td>{{ persona.cedula }}</td>
			<td>{{ persona.tlf }}</td>
			<td>{{ persona.ocupacion }}</td>
			<td><a href="{% url 'registro:editar' persona.id %}">Editar</a></td>
			<td><a href="{% url 'registro:borrar' persona.id %}">Borrar</a></td>
	    </li>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}