{% extends "registro/base.html" %}

{% block titulo %}Registro del Congreso{% endblock %}
        
{% block cuerpo %}
<span id="ruta_title">
	<h1>Index</h1>
</span>
<br />
<p>
1.-  Sobre los aspectos: 
* Pueden haber varios aspectos predeterminados pero también el usuario tendría que tener la opción de crear nuevos aspectos (JC) (DH). <br /><br />
2.- Sobre la carga de archivos:
* Es importante desarrollar la funcionalidad cargar archivos (txt, audio, etc.), sin permitir la carga de ejecutables para evitar la difusión de software malicioso (DH).<br /><br />
3.- Sobre las consultas (encuestas): 
* Al lado izquierdo de la página principal del perfil, debería aparecer la opción visualizar consultas como ya se encuentra disponible para las menciones, los aspectos y las etiquetas. De esta manera, se facilita el seguimiento de las publicaciones (JC y NB).
* Las consultas van a tener fecha de cierre (NB). <br /><br />
4.- Sobre las publicaciones:
* Hay que ir pensando cómo vamos a denominar a las publicaciones. Por ejemplo, como en twitter se denominan tweets (JC).<br /><br />
5.- Sobre la seguridad: 
*  Se debe activar la funcionalidad de denunciar cuentas (DH).
* Debemos asegurarnos que realmente es un perfil grupal, institucional a través de su validación por correo (JC). <br /><br />
6.- Sobre la funcionalidad compartir publicaciones: 
* Se debe implementar un filtro al compartir las publicaciones debido a que hasta el momento cualquier tipo de publicación aparece en el muro de todos los contactos. Por ejemplo, ¿qué pasaría en el caso que se publiquen insultos, etc.? Se debería otorgar la opción de aceptar o no cada publicación (JC).</p>
<p>
1.-  Sobre los aspectos: 
* Pueden haber varios aspectos predeterminados pero también el usuario tendría que tener la opción de crear nuevos aspectos (JC) (DH). <br /><br />
2.- Sobre la carga de archivos:
* Es importante desarrollar la funcionalidad cargar archivos (txt, audio, etc.), sin permitir la carga de ejecutables para evitar la difusión de software malicioso (DH).<br /><br />
3.- Sobre las consultas (encuestas): 
* Al lado izquierdo de la página principal del perfil, debería aparecer la opción visualizar consultas como ya se encuentra disponible para las menciones, los aspectos y las etiquetas. De esta manera, se facilita el seguimiento de las publicaciones (JC y NB).
* Las consultas van a tener fecha de cierre (NB). <br /><br />
4.- Sobre las publicaciones:
* Hay que ir pensando cómo vamos a denominar a las publicaciones. Por ejemplo, como en twitter se denominan tweets (JC).<br /><br />
5.- Sobre la seguridad: 
*  Se debe activar la funcionalidad de denunciar cuentas (DH).
* Debemos asegurarnos que realmente es un perfil grupal, institucional a través de su validación por correo (JC). <br /><br />
6.- Sobre la funcionalidad compartir publicaciones: 
* Se debe implementar un filtro al compartir las publicaciones debido a que hasta el momento cualquier tipo de publicación aparece en el muro de todos los contactos. Por ejemplo, ¿qué pasaría en el caso que se publiquen insultos, etc.? Se debería otorgar la opción de aceptar o no cada publicación (JC).</p>
{% endblock %}