{% extends "registro/base_login.html" %}

{% block titulo %}Iniciar sesión{% endblock %}

{% block cuerpo %}
<div id="titulo_login" align="center">
	<h1>Sistema de Registro<br />
	de participantes <br />
	del Congreso
	</h1>
</div>
<div class="login">
	<form id='formulario' method='post' action=''>{% csrf_token %}
		Nombre de Usuario: {{formulario.username}}
		<br />
		<br />
		Contraseña: {{formulario.password}}
		<br />
		<br />
		<button type="submit" class="btn btn-primary btn-block btn-large">Entrar</button>
	</form>
	<a href="{% url 'registro:crear_usuario' %}"><button id="boton_crear_cuenta" class="btn btn-primary btn-block btn-large">Crear Cuenta</button></a>
</div>
{% endblock %}